body, html {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    overflow: hidden;
    background: #0f0d31;
}
.main{
    width: 100%;
    height: 100%;
}
.cursor{
    cursor: pointer;
}
.header {
    top:0;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    min-width: 1366px;
    box-sizing: border-box;
}
.bg_header {
    width: 100%;
    height:55px;
    background:url(../image/title.png) no-repeat;
    background-size: 100% 100%;
}
.t_title {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 55px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
}
.fl {
    float: left;
}

#time{
    position: absolute;
    top: 20px;
    left: 70px;
    font-size: 16px;
    color: #a7c4ec;
}
.content{
    display: flex;
    height: 90%;
    margin: 10px;
}
.content .leftBar{
    width: 17%;
    float: left;
    box-shadow: 0 0px 10px #2C58A6;
    border: 1px solid #345f92;
}
.content .right{
    width: 88%;
    float: right;
    margin-left: 10px;
    box-shadow: 0 0px 10px #2C58A6;
    /*border: 1px solid #345f92;*/
}
.layui-tree-txt,.layui-tree-icon .layui-icon{
    color: #fff;
}
.layui-tree-line .layui-tree-entry:hover .layui-tree-txt{
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.layui-form-checked[lay-skin=primary] i{
    border-color: #286aa3!important;
    background-color: #286aa3;
}
.table{
    /*border:1px solid #345f92;*/
    padding:0 10px;
}
.table1{
    width: 98.5%;
    height: 39%;
    border:1px solid #345f92;
    margin-bottom: 10px;
}
.table2{
    width: 98.5%;
    height: 59%;
    border:1px solid #345f92;
}
.list .table2{
    width: 99%;
    border:1px solid #345f92;
}
.table .title{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #345f92;
    position: relative;
}
.table .title img{
    float: right;
    position: relative;
    top: 10px;
    padding:0 10px;
}
.wrap{
    height: 200px;
    overflow: auto;
}
.layui-table,.layui-table thead tr, .layui-table-header{
    background: #0f0d31;
    color: #fff;
}
.table1 thead tr,.table1 .layui-table-header,.table1 tbody tr{
    background: #A64646;
}
.table1 tbody tr:hover {
    background-color: #A64646!important;
}
input{
    background: inherit;
    border: 0;
}
#date{
    width: 300px;
}
.layui-input{
    color: #fff;
    background: inherit;
}
.layui-form-select .layui-input{
    background: inherit;
    color: #fff;
}
.layui-form-select{
    border: 1px solid #9DB3E5;
    border-radius: 4px;
}
.layui-form-select dl dd{
    color: #0f0d31;
}
.layui-form-label{
    width: inherit;
    padding: 9px 4px;
}
.layui-form-item .layui-inline{
    margin-right: 0;
}
.layui-form-select dl dd.layui-this{
    background-color:#0f0d31
}
input::-webkit-input-placeholder{
    color:#ccc;
    font-size:14px;
}
input:-moz-placeholder{
    color:#ccc;
    font-size:14px;
}
input::-moz-placeholder{
    color:#ccc;
    font-size:14px;
}
input:-ms-input-placeholder{
    color:#ccc;
    font-size:14px;
}
.layui-btn{
    margin-left: 10%;
    margin-bottom: 5px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #1e9fff
}
.layui-table-page .layui-laypage a, .layui-table-page .layui-laypage span.layui-laypage-curr,.layui-laypage .layui-laypage-skip,.layui-laypage span{
    color: #fff;
}
.layui-table td,.layui-table th,.table1-head th{
    border-right: none;
}

.layui-table tbody tr:hover ,tbody tr:hover{
    background-color: inherit;
}
.custom-tree-item-clicked{color:#FC9003}

.table1 td,.table1 th{
    text-align: center;
}
.table1 .table1-head {
    table-layout: fixed;
    border: none;
}
.table1 .stamp-list{
    height: 71%;
    overflow: auto;
    margin-top: -21px;
}
.left{
    text-align: left!important;
}
